span{
    background: red;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
}

.available span{
    background: green;
}

.nearby span{
    /* content: "neaby"; */
    background: yellow;
    color: black;
}